body {
    background-color: skyblue}
     #pasta {color: red;
     text-align: center;
     } 
    section {
     background-color: pink;
     padding-left: 30px;
     padding-top: 20px;
     padding-right: 30px;
     margin-left: 60px;
     margin-right: 60px;
     margin-top: 10px;
     border-width: 2px;
     border-style: solid;
     border-color: black;
     }
     img{width: 100%;
     margin: auto;
     border-width: 2px;
     border-style: solid;
     border-color: black
     
     }
     footer{
     background-color: green;
     color: white;
     text-align: center; }
  